@use '../../../styles/var.scss';

.favorite {
  cursor: pointer;
  display: inline-flex; // flex, щоб центрувати вміст
  align-items: center; // по вертикалі
  justify-content: center; // по горизонталі
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var.$main-accent-color;

  &__icon {
    width: 14px;
    height: 12px;

    mask-image: url('/src/img/icons/heart.svg');
    mask-size: contain;

    background-color: var.$background-color;
  }
}