@use '../../styles/var.scss';

.power {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  max-width: 150px;
  height: 30px;
  background-color: var.$main-accent-color;
  border-radius: var.$border-radius;

  &__icon {
    width: 20px;
    height: 20px;

    mask-image: url('/src/img/icons/power.svg');
    mask-size: cover;

    background-color: var.$background-color;
  }

  &__title {
    color: var.$main-light-color;
  }
}