@use './var.scss';

@mixin on-tablet {
  @media (min-width: var.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: var.$desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 16px;
  margin-inline: auto;
  box-sizing: border-box;

  @include on-tablet {
    margin-inline: auto;
    padding-inline: 30px;
  }

  @include on-desktop {
    margin-inline: auto;
    // max-width: $content-max-width;
    padding-inline: 40px;
  }
}

.container {
  @include content-padding-inline;
}