@use './var.scss';
@use './mixins.scss';

h1 {
  color: var.$primary-text-color;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;


  @include mixins.on-tablet {
    font-size: 32px;
  }

  @include mixins.on-desktop {
    font-size: 40px;
  }
}

h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
}

h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
}

h4 {
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

.main-text {
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.body-text {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}

.button-text {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}