@use './var.scss';
@use './mixins.scss';

h1 {
  font-size: 24px;
  line-height: 140%;
  color: var.$main-text-color;

  @include mixins.on-tablet {
    font-size: 36px;
  }

  @include mixins.on-desktop {
    font-size: 40px;
  }
}