$main-text-color: #333333;
$main-dark-color: #4F6F67;
$main-light-color: #E7E3DD;
$background-color: #F3F1ED;
$main-accent-color: #C46A4A;
$border-color: #8A8A8A;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$content-max-width: 1440px;

$border-radius: 16px;