$main-text-color: #2B2922;
$background-color: #F5EFE6;
$card-background: #E0BF90;
$main-accent-color: #A04527;
$second-accent-color: #C66839;
$border-color: #766842;
$details-color: #A0B360;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$content-max-width: 1440px;
