@import '../../styles/variables.scss';

.aside {
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $second-accent-color;
}

.header__logo {
  text-decoration: none;
  color: $main-text-color;
}

.sidebar__nav {
  padding-block: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
    }
  }

  &__link {
    text-decoration: none;
    color: $main-text-color;
  }
}