.aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f0f0f0;
}

.header__logo {
  text-decoration: none;
  color: #C24E2A;
}

.sidebar__nav {
  padding-block: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
    }
  }

  &__link {
    text-decoration: none;
    color: #C24E2A;
  }
}