@use '../../styles/var.scss';

.errorBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.notification {
  color: var.$main-accent-color;
}

.reloadButton {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: var.$main-accent-color;
  color: var.$background-color;
  border: 0;
}