@use '../../styles/var.scss';

.additionalFilters {
  display: flex;
  gap: 40px;
}

.title {
  padding-bottom: 8px;
  font-size: 20px;
}

.select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 56px;
  width: 150px;
  border: 1px solid var.$border-color;
  background-color: var.$main-accent-color;
  border-radius: 8px;
  padding-left: 16px;
}

.value {
  font-size: 16px;
  color: var.$background-color;
}

.arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.2s;
}

.arrowOpen {
  position: absolute;
  right: 12px;

  transform: rotate(180deg);
}

.dropdown {
  width: 150px;
  position: absolute;
  background-color: var.$background-color;
  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
  list-style: none;
  padding-block: 8px;
}

.listItem {
  padding-block: 5px;
  padding-left: 16px;
}