@use './shared/styles/mixins.scss';
@use './shared/styles/var.scss';
@use './shared/styles/typography.scss';

.page {
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var.$main-text-color;
  background-color: var.$background-color;

  &__body {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}