@import './shared/styles/mixins.scss';
@import './shared/styles/variables.scss';
@import './shared/styles/typography.scss';

.page {
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: $main-text-color;

  &__body {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}